body{
    padding:0px;
    margin: 0px;
    background-color:  rgb(20, 19, 19);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url("spider-web-svgrepo-com.svg");
    height: 100vh;
    width:auto;
    background-size: cover; */
}
html{
    scroll-behavior: smooth;
    /* scrollbar-width: 0px; */
}
.navbar{
    /* background-color: rgb(190, 51, 16); */
    background-color: beige;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}
ul {
    list-style: none;
    display: flex;
}
li {
    height: 100%;
    display: inline-block;
}
.nav_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    margin-bottom: 40px;
}
.logo{
    /* display: inline-block; */
    height: 70px;
    width: auto;
    /* font-size: 40px; */
    padding-left: 50px;
}
a{
    color: rgb(0, 0, 0);
    display: inline;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* font-size: 45px; */
}
ul>li>a:hover{
    background-color:rgba(30, 30, 30, 0.226) ;
    border-radius: 5%;
    height: 40px;
    /* font-size: 20px;
    font-weight: 800;
    transition: ease-in; */
}
button{
    border-radius: 5px;
    border-width: 2px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 800;
    padding: 5px;
    height: 100%;
    background-color: beige;
    width: 100%;
}
button:hover{
    color:beige;
    background-color: black;
    font-size: 16px;
    
}

#Home{
    height: 100vh;
    width: auto;
    background-color: rgb(20, 19, 19);
    padding: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("spider-web-svgrepo-com.svg");
    background-size: cover; */
} 
.dog_dp{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.home_name{
    padding: 10px;
    margin-left: 60px;
    color: black;
    font-size: 28px;
}
.profile_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    /* background-color: rgba(128, 128, 128, 0.252);
    border-radius: 30px; */
    padding: 20px;
}
.card{
    background-color: beige;
    width: 90%;
    border-radius: 30px;
    /* margin-top: 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headings{
    color: beige;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.content{
    color: beige;
    font-size: 18px;
    padding: 0px 50px;
}

#about{
    height: 100vh;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skills{
    height: 100vh;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: beige;
}
#education{
    height: 100vh;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: beige;
}
#projects{
    height: 100vh;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: beige;
}

.hrline{
    width: 90%;
    border-width: 1px;
    border-color: rgba(245, 245, 220, 0.245);
}
.portfolio_logo{
    height: 70px;
    width: auto;
    margin-left: 70px;
    font-size: 40px;
    padding-bottom: 0px;
}
.portfolio_logo>a:hover{
    background-color: none;

}
.card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.skills-card{
    text-align: center;
    width: 300px;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(245, 245, 220, 0.26);
    border-style: solid;
    padding: 10px;
}
.skills-container{
    display: flex;
    justify-content: center;
}
.skills-card:hover{
    box-shadow: 3px 3px 5px rgba(245, 245, 220, 0.548);
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 36px rgba(245, 245, 220, 0.548) ;
}
.icon-container{
    display: flex;
    flex-direction: column;
}
.icons{
    font-size: 30px;
    padding: 10px;
    padding-top: 25px;
}
.icon-names{
    padding-left: 20px;
    font-size: 27px;
    text-align: left;
}
.education-container{
    display: flex;
    justify-content: center;
    padding: 0;
}
.edu-details-left{
    text-align: right;
    padding-left: 20px;
    font-size: 27px;
    margin: 0;
}
.edu-details-right{
    text-align: left;
    padding-left: 20px;
    font-size: 27px;
    margin: 0;
}
.text-center{
    text-align: center;
    color: beige;
    margin-top: 70px;
}
a.cards{
    color: beige;
    /* display: inline; */
    /* padding: 10px;
    margin-right: 10px; */
    /* font-weight: bold; */
    text-align: center;
    text-decoration: none;
    /* font-size: 45px; */
}
/* .test_button{
    height: 50px;
    width: 150px;
    padding: 0px 10px;
    text-decoration: none;
} */